html,body{
	margin: 0px;
	padding: 0px;
}
body{
	width: 100%;
	height: 100%;
	background-color: rgba(2, 20, 147, 1) ;
	font-family: New Century Schoolbook, TeX Gyre Schola, serif, sans-serif;
	font-size: 20px;
}
#IDL{
	font-size: 100px;
	
}
