html,body{
	margin: 0px;
	padding: 0px;
}
body{
	width: 100%;
	height: 100%;
	background-color: rgba(255, 20, 147, 1) ;
	font-family: New Century Schoolbook, TeX Gyre Schola, serif, sans-serif;
	font-size: 20px;
}
#IDL{
	font-size: 100px;
	font-family: Tahoma;
}
#RG{
	font-family: Tahoma;
}
#BT{
	background: Yellow;
	font-size: 50px;
}